/* Google Font Import */
@import url("https://fonts.googleapis.com/css2?family=Muli:wght@400;700&display=swap");

/* Start: Global Styles */

* {
  box-sizing: border-box;
}

body {
  background-color: #eafbff;
  background-image: linear-gradient(to bottom, #eafbff 0%, #eafbff 50%, #5290f9 50%, #5290f9 100%);
  font-family: "Muli", sans-serif;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}
/* End: Global Styles */
